@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Prata&display=swap');

* {
    font-family: outfit;
} 
 
.prata-regular {
    font-family: "prata", serif;
    font-weight: 400;
    font-style: normal;
} 


html {
    scroll-behavior: smooth;
  }

  @keyframes rotateReact {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  .rotateReact {
    animation: rotateReact 10s linear infinite;
  }
  

  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }
  
  @keyframes spin-slow {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  .spin-slow {
    animation: spin-slow 8s linear infinite;
  }
  
  @keyframes textGradientAnimation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
 
  .animate-text {
    background: linear-gradient(
      100deg,
      #ff7eb3,
      #ff758c,
      #a29bfe,
      #74b9ff,
      #38be98,
      #00cec9

    );
    background-size: 200% 200%;
    animation: textGradientAnimation 4s ease infinite;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  } 
  